.circle-box {
    min-height: 100vh;
    padding: 3rem 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.glassmorphism-container {
    position: relative;

    width: 100rem;
    height: 65rem;

    border-radius: 15px;
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;


    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1100px);
    overflow: hidden;
}

.glassmorphism-div {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 15px;

}

.color-overlay {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;

    position: absolute;

    background-color: transparent;
    box-shadow: 6rem;


    pointer-events: none;

}

.glassmorphism-container:hover .color-overlay {
    opacity: 0.8;
    background: red;
    box-shadow: -2px -2px 600px red;
    filter: blur(100px);
}

.glassmorphism-container.green:hover .color-overlay {
    opacity: 0.8;
    background: var(--green);
    box-shadow: -2px -2px 600px var(--green);
    filter: blur(100px);
}

.glassmorphism-container.purple:hover .color-overlay {
    opacity: 0.8;
    background: var(--purple);
    box-shadow: -2px -2px 3px var(--purple);
    filter: blur(100px);
}

.glassmorphism-container.blue:hover .color-overlay {
    opacity: 0.8;
    background: var(--blue);
    box-shadow: -2px -2px 73px var(--blue-tint-2);
    filter: blur(100px);
}

.glassmorphism-container.pink:hover .color-overlay {
    opacity: 0.8;
    background-color: pink;
    box-shadow: -2px -2px 73px pink;
    filter: blur(100px);

}

.glassmorphism-container.white:hover .color-overlay {
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px -2px 73px rgb(255, 255, 255);
    filter: blur(100px);

}