.circle-box {
    min-height: 100vh;
    padding: 3rem 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glassmorphism-container {
    position: relative;
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */
    width: 100rem;
    height: 65rem;
    /* box-shadow: 20px 20px 50px rgba(0,0,0,0.5); */
    border-radius: 15px;
    /* margin: 30px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
    /* border-left: 1px solid rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    /* transform: perspective(3px) */

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1100px);
    overflow: hidden;
}

.glassmorphism-div {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.15); */
    /* pointer-events: none; */
    border-radius: 15px;
    /* backdrop-filter: blur(1100px); */
    /* overflow: hidden; */
}

.color-overlay {

    /* position: relative; */
    width: 20rem;
    height: 20rem;
    border-radius: 50%;

    position: absolute;

    background-color: transparent;
    box-shadow: 6rem;

    /* z-index: -1; */

    /* box-shadow: 0 0 20px rgba(255, 0, 0, 0); */

    pointer-events: none;

    /* transition: opacity 0.5s ease, box-shadow 0.5s ease; */
    /* Add opacity to transition */
    /* border: 1px solid red; */
}

.glassmorphism-container:hover .color-overlay {
    opacity: 0.8;
    background: red;
    box-shadow: -2px -2px 600px red;
    filter: blur(100px);
}

.glassmorphism-container.green:hover .color-overlay {
    opacity: 0.8;
    background: var(--green);
    box-shadow: -2px -2px 600px var(--green);
    filter: blur(100px);
}

.glassmorphism-container.purple:hover .color-overlay {
    opacity: 0.8;
    background: var(--purple);
    box-shadow: -2px -2px 3px var(--purple);
    filter: blur(100px);
}

.glassmorphism-container.blue:hover .color-overlay {
    opacity: 0.8;
    background: var(--blue);
    box-shadow: -2px -2px 73px var(--blue-tint-2);
    filter: blur(100px);
}

/* master burger - malka
    shunka klasik - malka
    meet maniq - malka */